<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Sustentável - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_publico.css') }}">

</head>
<body>

    <div class="home_publica_container1">
        <img src="/static/img/logo.jpg" alt="logo" id="logo">
        <header>
            <h1>Bem-vindo ao EcoLumen</h1>
            <p>Faça login ou cadastre-se para acessar todos os quartos e funcionalidades do hotel.</p>
            <div class="links">
                <a href="/login" class="btn">Login</a>
                <a href="/cadastro" class="btn">Cadastrar</a>
            </div>
        </header>

        <section class="img_hotel">
            <img src="/static/img/Quarto5.png">
            <img src="/static/img/AreaPiscina.jpg">
            <img src="/static/img/gastronomia.png">
            <img src="/static/img/yoga.png">
        </section>

        <section class="home_publica_container2">
            <h2>EcoLumen</h2>
            <p>Um lugar calmo, confortável e conectado à natureza. Aproveite nossas instalações sustentáveis e experiências únicas.</p>
            <a href="/saiba_mais">Saiba Mais</a>
        </section>
    </div>

</body>
</html>
