<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Privada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_privada.css') }}">

    <script src="{{ url_for('static', filename='js/checkin.js') }}"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>EcoLumen (logo do site)</h1>
            <p>Bem-vindo, (nome do usuario)</p>
        </div>
            <a href="{{ url_for('usuario_bp.home_publica') }}" class="btn-logout">Sair</a>
        
    </header>

    <main>
        <section class="welcome">
            <h2>O que você fará hoje?</h2>
        </section>

        <section id="checkin-section" class="checkin-container">
            <h2>Check-in</h2>
            <p id="mensagem-checkin">Carregando informações...</p>
        </section>

        <section class="rota-buttons">
            <a href="{{ url_for('reserva_bp.pagina_reserva') }}">
                <button>
                    <img src="{{ url_for('static', filename='img/Quarto3.png') }}" alt="Suas Reservas">
                    Suas reservas
                </button>
            </a>
            <a href="{{ url_for('cardapio_bp.exibirTela') }}">
                <button>
                    <img src="{{ url_for('static', filename='img/gastronomia.png') }}" alt="Cardápio Digital">
                    Cardápio digital
                </button>
            </a>
            <a href="{{ url_for('atividade_bp.pagina_atividade') }}">
                <button>
                    <img src="{{ url_for('static', filename='img/yoga.png') }}" alt="Atividades">
                    Atividades recreativas
                </button>
            </a>
            <a href="{{ url_for('atividade_bp.pagina_suas_atividades') }}">
                <button>
                    <img src="{{ url_for('static', filename='img/trilha.png') }}" alt="Atividades Inscritas">
                    Atividades inscritas
                </button>
            </a>

            <a href="{{ url_for('consumo_bp.monitorar_consumo')}}">
                <button>
                    <img src="" alt="">
                    Monitorar Consumo
                </button>
            </a>
        </section>
    </main>

    <footer>
        EcoLumen, um lugar calmo, confortável e conectado à natureza.
    </footer>
</body>
</html>
