<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js')}}" defer></script>

    
</head>
<body>
    <div class="login-container">
        <img src="/static/img/logo.jpg" alt="logo" id="logo">
        <h1>Login</h1>
        <form action="/login" method="POST" id="formulario_login">
            <input type="email" name="email" id="email" placeholder="Email" required> <br>
            <input type="password" name="senha" id="senha" placeholder="Senha" required> <br>
            <div class="opcs">
                <button type="submit">Entrar</button>
                <a href="{{ url_for('usuario_bp.home_publica') }}" id="button">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>
