<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/saiba_mais.css') }}">
</head>
<body>
    <header>
        <h1 id="tituloPrincipal">EcoLumen</h1>
        <p id="slogam">Um lugar calmo, confortável e conectado à natureza.</p>
    </header>

    <nav id="direita">
        <div>
            <h1>Apresentação</h1>
            <p>O EcoLumen é um refúgio ecológico localizado no coração do interior de São Paulo, onde conforto, natureza e consciência ambiental convivem em perfeita harmonia. Mais do que um local de hospedagem, o EcoLumen representa um novo conceito de turismo sustentável, combinando tecnologia, bem-estar e responsabilidade ambiental.</p>

            <p>Desde sua concepção, o hotel foi projetado para minimizar impactos ao meio ambiente e maximizar a eficiência energética. Toda a estrutura utiliza energia solar para abastecimento elétrico e sistemas de reaproveitamento e descarte consciente da água, reduzindo drasticamente o desperdício.</p>

            <p>O hotel conta com cinco tipos de suítes exclusivas, todas planejadas para proporcionar conforto, privacidade e uma conexão direta com a natureza. Há ainda uma área de piscina, e um restalrante confortavel.</p>

            <p>Na gastronomia também temos o compromisso com a consiencia ecológica: o EcoLumen oferece alimentos orgânicos e produzidos localmente, priorizando ingredientes frescos e sustentáveis. Além disso, o cardápio digital permite aos hóspedes escolher suas refeições de forma prática e inteligente, contribuindo para o controle do consumo e a redução do descarte de alimentos.</p>
        </div>
        <img src="/static/img/HotelFora.jpg">
    </nav>

    <nav id="esquerda">
        <img src="/static/img/AreaPiscina.jpg">
        <div>
            <h1>Atividades Recreativas</h1>
            <p>No EcoLumen, cada atividade é pensada para promover o bem-estar, o contato com a natureza e a conscientização ambiental. Mais do que lazer, nossas experiências são oportunidades de reconexão com o corpo, a mente e o planeta.</p>

            <h3>Oferecemos atividades como:</h3>
            <p> Trilhas ecológicas guiadas, que percorrem áreas de mata nativa e apresentam a fauna e flora local;</p>
            <P>Aulas de yoga e meditação ao ar livre, ideais para relaxar e se harmonizar com o ambiente;</P>
            <P>Oficinas de sustentabilidade, como compostagem, reaproveitamento de materiais e plantio de hortas orgânicas;</P>
            <P>Experiências gastronômicas, com workshops sobre culinária natural e orgânica;</P>
            <P>Atividades educativas infantis, voltadas para o aprendizado ambiental por meio de jogos e práticas ao ar livre;</P>
        </div>
        
    </nav>

    <nav id="direita">
        <div>
            <h1>Um pouco da nossa historia</h1>
            <p>O EcoLumen nasceu de um sonho simples e poderoso: mostrar que é possível oferecer conforto e hospitalidade sem agredir o meio ambiente.</p>
            <p>Cansados da vida Urbana e inspirado por Stardew Valley um grupo de amigos investiram em uma propriedade Rural,e decidiram transformá-la em algo que unisse o descanso da vida no campo com práticas verdadeiramente sustentáveis. </p>
            <p>Assim, surgiu a ideia de criar um hotel que fosse iluminado pela energia do sol e guiado pela consciência ecológica: o EcoLumen, cujo nome simboliza “a luz que vem da natureza”.</p>
            <p>A construção do hotel seguiu um princípio fundamental: respeitar o entorno. Cada detalhe (desde a escolha dos materiais até o cultivo de plantas) foi pensado para harmonizar com o ambiente local. As placas solares, o reaproveitamento de água e o uso de alimentos orgânicos fazem parte da rotina diária, refletindo o compromisso do EcoLumen com a sustentabilidade.</p>
            <p>Um dos pilares mais importantes do projeto é a parceria com fazendeiros e produtores locais. Os alimentos servidos no hotel são adquiridos diretamente de pequenos agricultores da região, valorizando a economia local e garantindo produtos frescos e de qualidade. Além disso, o EcoLumen mantém um sistema de compostagem consciente, onde os resíduos orgânicos do hotel são transformados em adubo natural e utilizados nas hortas locais, criando um ciclo sustentável de troca e cooperação com a comunidade.</p>
            <p>Com o tempo, o EcoLumen cresceu, mas sem perder sua essência. Hoje, o hotel é reconhecido por unir inovação, conforto e responsabilidade ambiental, inspirando hóspedes e parceiros a adotarem práticas mais sustentáveis também em suas próprias vidas.</p>
            <p>Mais do que um destino, o EcoLumen é uma experiência de conexão com a natureza, com as pessoas e com um futuro mais verde e consciente.</p>
        </div>
        <img src="/static/img/HotelDendro.jpg">
    </nav>

</body>
</html>
