* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #fefae0;
    align-items: center;
}

h2{
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding: 50px 0 20px 0;
}

h1{
    font-size: 60px;
    color: #333333;
    text-align: center;
    padding: 50px 0 20px 0;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header #button{
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #017143;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

#logo{
    border: solid green;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    height: 80px;
}

#container{
    margin: 80px 5px;
}

#Refeicao{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 20px 50px 10px 50px;
    background-color: rgba(200, 228, 164, 0.493);
    border-radius: 15px;

}

img{
    border-radius: 15px;
    height: 200px;
}

#desc{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 40px;
    text-align: justify;
}

#opcao{
    display: block;
    gap: 10px;
    margin: 80px 80px;
    font-size: 18px;
}

input[type="radio"] {
  accent-color: #57960f;
}

#salvar{
    display: block;
    margin: 50px auto;
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #017143;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}