body {
    font-family: Arial, sans-serif;
    background: #f7fdf9;
    padding: 20px;
    color: #013220;
    line-height: 1.5;
}


p {
    margin: 8px 0;
}

.titulo-bloco {
    margin-top: 12px;
    font-weight: bold;
    color: #015f38;
}

.quarto {
    width: 90%;
    max-width: 650px;
    background: white;
    padding: 18px;
    margin: 22px auto;
    border-radius: 18px;
    border-left: 6px solid #017143;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.quarto:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    transform: translateY(-3px);
}

.quarto span {
    font-weight: bold;
    font-size: 1.15rem;
    color: #015f38;
}

.barra-bg {
    width: 100%;
    height: 18px;
    background: #e6e6e6;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    overflow: hidden;
}

.barra {
    height: 100%;
    background: linear-gradient(90deg, #017143, #02a36f);
    border-radius: 10px;
    transition: width 0.6s ease;
}

.info-consumo {
    font-size: 0.93rem;
    color: #444;
    margin-top: 2px;
    margin-bottom: 10px;
}

.info-consumo strong {
    color: #017143;
}

.premio {
    font-weight: bold;
    margin-top: 12px;
    font-size: 1rem;
}

.ganho {
    color: #017143;
}

.perda {
    color: #c20000;
}

.header-consumo {
    width: 100%;
    padding: 22px 0;
    background: #baf4d3;
    text-align: center;
    border-bottom: 3px solid #017143;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    border-radius: 10px;
}

.header-consumo h1 {
    margin: 0;
    font-size: 35px;
    color: #015f38;
    font-weight: bold;
    letter-spacing: 0.5px;
}

