body{
    background: linear-gradient(to bottom, #588157, #3a5a40);
    padding: 50px;
    text-align: center;
    margin: 0;
}

#direita{
    background: #a3b18a;
    margin: 80px 30px;
    display: grid;
    border-radius: 15px;
    padding: 50px;
    margin-top: 30px;
    grid-template-columns: 3fr 1fr;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1); 
    text-align: justify;
    gap: 30px;
    
}

#esquerda{
    background: #a3b18a;
    margin: 80px 30px;
    display: grid;
    border-radius: 15px;
    padding: 50px;
    margin-top: 30px;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: justify;
    gap: 20px;
}

img{
    border: solid green;
    border-radius: 15px;
    height: 500px;
}

nav p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #333;
}

nav h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #0f3a1a;
}

nav h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #0f3a1a;
}

#tituloPrincipal{
    font-family: "Poppins", sans-serif;
    font-size: 95px;
    color: #ccddaf;
    margin: 10px;
    text-shadow: 0 0 10px #a3b18a;
}

#slogam{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #333;
    margin: 0;

}